

.std-num-button {
  height: calc(16.667% - 2px);
  width: calc(25% - 2px);
  font-size: 24px;
  font-weight: blod;
  margin: 1px;
  overflow: hidden;
}

.sci-num-button {
  height: calc(14.286% - 2px);
  width: calc(20% - 2px);
  font-size: 24px;
  font-weight: blod;
  margin: 1px;
  overflow: hidden;
}

.sci-tir-dialog-button {
  text-align: center;
  width: calc(25% - 8px);
  white-space: nowrap;
  height: calc(16.667% - 8px);
  font-size: 24px;
  font-weight: blod;
  margin: 4px 4px;
}

.sci-func-dialog-button {
  text-align: center;
  width: calc(33.33% - 8px);
  white-space: nowrap;
  height: calc(50% - 8px);
  font-size: 24px;
  font-weight: blod;
  margin: 4px 4px;
}